@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans";
  background-color: rgba(245, 245, 245, 0.848);
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: grid;
  place-content: center;
  width: 100%;
}

h1 {
  color: rgb(238, 206, 79);
}
.container {
  background-color: #7c3aed;
  padding: 2rem 5rem 6rem 5rem;
  border-radius: 6px;
  height: 50vh;
  width: 70vw;
}

.bill-txtbox {
  appearance: textfield;
  opacity: 0.7;
  background-color: #efe68d;
  outline: none;
  border: none;
  padding: 0.5rem;
  caret-color: rgb(134, 93, 17);
  text-align: center;
  margin: 0.8rem auto;
  transition: opacity 0.3s linear;
}

.bill-txtbox:focus {
  opacity: 1;
}

.bill-txtbox:invalid {
  background-color: pink;
  border: 2px solid red;
}

.radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.radio-group_item {
  margin-left: 1rem;
}

.radio-group_item label {
  margin-left: 0.3rem;
}

label {
  /* opacity: 0.7; */
  transition: font-size 0.3s ease-in;
}

input:invalid .radio-group_item input:checked + label {
  font-size: 1.4rem;
  /* opacity: 1; */
  color: rgb(238, 206, 79);
}

.calculate-btn {
  border: 0;
  margin-top: 0.5rem;
  padding: 0.6rem;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #efe68d;
  /* border-radius: 42px; */
  border-radius: 8px;
  background: rgb(238, 206, 79);
}

.calculate-btn:active {
  transform: scale(0.96);
}
